<form (submit)="addTodo()" class=" px-5 flex justify-between m-1 gap-5 border-b pb-6 border-b-black">
    <input type="text"
            name="inputTodo"
            placeholder="Enter todo..."
            class="todo-input border border-slate-200 p-2 flex-grow rounded-md"
            required="true"
            (ngModelChange)="onKeypressEvent($event)"
            [(ngModel)]="inputTodo" />
            <input type="submit" 
            [disabled] ="disabledButton"
            value="Add Todo" class="cursor-pointer disabled:text-gray-400 disabled:border-gray-400 border-2 rounded-md px-2 border-teal-500 hover:border-green-500 hover:transition hover:text-green-700" />
           
</form>